.maps-block {
    background-color: #d6e5ff;
    margin: 20px;
    width: 100%;
    text-align: left;
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
  }
  
  .categories {
    display: flex;
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 20px;
    padding-bottom: 0;
  }
  
  .category {
    margin-right: 100px;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
  }
  
  .category.active {
    color: #ff7f50; 
    border-bottom: 2px solid #ff7f50; 
  }
  
  .horizontal-line {
    width: 100%;
    border: 1px solid #000;
    margin-top: 5px;
  }
  .category.hovered {
    color: #ff7f50; 
  }
  
/* Place preview list*/

.placeList {
  height: 100%;
  overflow-y: scroll;
  max-width: 250px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--dark);
}

.place__item {
  display: flex;
  justify-content: space-between;
  padding: 10px 6px;
  border-bottom: 1px solid var(--main);
}

.place__info {
  flex: auto;
}

.place__img {
  width: 80px;
  max-height: 80px;
}

.place__addInfo {
  display: flex;
  font-size: 14px;
  margin-top: 8px;
}

.place__rating {
  min-width: max-content;
  margin-right: 8px;
}

.place__rating img {
  margin-right: 3px;
  width: 15px;
}

.place-preview {
  height: 100%;
  max-width: 250px;
  position: absolute;
  overflow-y: auto;
  top: 0;
  left: 0;
  z-index: 3;
  background: var(--dark);
}

.gm-style-iw-d {
  color: #000;
}