@import '../styles/variables.scss';
.unauthorized, .search-city {
    position: relative;
}

.tourist-places-background {
    width: 100%;
    height: calc(100vh - 121.6px);
    background: url('./unauthorized-image.png');
    filter: blur(5px);
}

.unauthorized-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $dark;
    border-radius: 10px;
    padding: 20px;
    max-width: 350px;
}

.unauthorized-content__title {
    text-align: center;
    margin-bottom: 15px;
}

.unauthorized-content__text {
    margin-bottom: 15px;
}

.unauthorized-content__button {
    display: block;
    text-decoration: none;
    text-align: center;
}

.tourist-places__map {
    display: flex;
    height: calc(100vh - 121.6px);
    overflow-y: hidden;
    position: relative;

    .places {
        flex: 0 0 25%;
    }

    .place-list__title {
        display: flex;
        align-items: center;
        min-height: 80px;
        font-size: 24px;
        padding: 10px;
        background: $dark;
        border-bottom: 1px solid $font-color;
    }

    .place__item {
        padding: 10px;
    }

    .placeList {
        max-height: calc(100% - 80px);
    }

    .place-preview {
        padding: 10px;
        width: 25%;
    }

    .place-preview__photo img {
        height: 150px;
    }
}

.search-city {
}

.search-city-form {
    position: absolute;
    top: 30%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    flex-wrap: wrap;
    transform: translate(-50%, 0);
    background: $dark;
    border-radius: 15px;
    padding: 20px;
    width: 600px;
}

.search-city-form__title {
    font-size: 26px;
    flex: 100%;
    margin-bottom: 10px;
}

.search-city .react-select__control {
    min-width: 100%;
    border-radius: 10px;
    border: 2px solid $bright;
    padding-top: 2px;
    padding-bottom: 1px;
}

.search-city .css-b62m3t-container {
    width: 422px;
}

button.search-city-form__button {
    min-width: 0;
    padding: 0 25px;
}

.search-city .search-field__error {
    position: static;
}