@import '../../../styles/colorsVar.scss';
.tourist-places__map {
  display: flex;
  height: calc(100vh - 121.6px);
  overflow-y: hidden;
  position: relative;

  .places {
      flex: 0 0 25%;
  }

  .place-list__title {
      display: flex;
      align-items: center;
      min-height: 80px;
      font-size: 24px;
      padding: 10px;
      background: $dark;
      border-bottom: 1px solid $font-color;
  }

  .place__item {
      padding: 10px;
  }

  .placeList {
      max-height: calc(100% - 80px);
  }

  .place-preview {
      padding: 10px;
      width: 25%;
  }

  .place-preview__photo img {
      height: 150px;
  }
}
