:root {
    --background: #2F3E46;
    --semi-dark: #354F52;
    --main: #52796F;
    --semi-bright: #006400;
    --font-color: #CAD2C5;
    --bright: #F5793B;
    --error: #7d0f11;
    --error-bright: #ab0306;
}