@import '../../styles/colorsVar.scss';
@import '../../styles/mediaQueryVar.scss';

.header {
  display: flex;
  padding: 0 25px;
  background: $semi-dark;
  align-items: center;
  font-size: 18px;
  position: relative;
  z-index: 2;

  @media (max-width: $mobile) {
    padding: 0 15px;
  }
}

.logo {
  width: 275px;
  margin-right: 30px;
  @media (max-width: $tablet) {
   margin-right: auto;
   width: 220px;
  }
}

.header-menu {
  flex: auto;
  display: flex;
  list-style: none;
  align-items: center;

  &__item {
    margin-right: 15px;
  
    a {
      display: inline-block;
      color: inherit;
      text-decoration: none;
      padding: 20px 0;
    }
  
    &:hover {
      text-decoration: underline;
      color: $bright;
      transition: 0.3s;
    }
  }
  @media (max-width: $tablet) {
    display: none;
  }
}

//select
.language-select {
  display: flex;
  @media (max-width: $tablet) {
    display: none;
  }
}

.header .react-select__control {
  background: transparent;
  margin-right: 10px;
  border: none;
  .css-1fdsijx-ValueContainer {
    padding: 2px 0px 2px 2px;
  }
  &.react-select__control--is-focused {
    box-shadow: none;
  }

  .react-select__single-value {
    color: $font-color;
  }

  .react-select__indicator-separator {
    display: none;
  }

  .react-select__indicator {
    padding: 0;
  }
}
.header .react-select__menu {
  background: $main;
  
  .react-select__option {
    color: $font-color;
  }

  .react-select__option--is-selected {
    background: inherit;
  }

  .react-select__single-value {
    color: $font-color;
  }

  .react-select__option--is-focused {
    background: inherit;
  }

  .react-select__option:hover {
    background: $dark;
  }
}

.header-menu-toggler {
  display: flex;
  align-items: center;
  position: relative;
  height: 20px;
  width: 35px;
  background: transparent;
  border: none;
  margin-left: 15px;

  &::before, &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: $font-color;
    left: 0;
    border-radius: 2px;
    transition: 0.3s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    width: 100%;
    height: 3px;
    background: $font-color;
    border-radius: 2px;
  }

  &.toggler_open {
    span {
      display: none;
    }
    &::before {
      top: 10px;
      transform: rotate(45deg);
    }
  
    &::after {
      bottom: 6px;
      transform: rotate(-45deg);
    }
  }
}
