.search-field {
    display: flex;
    align-items: end;
    gap: 10px;
    background: var(--dark);
    border-radius: 20px;
    padding: 25px;
}
.search_index {
    margin-top: 60px;  
}
.search-field .field {
    margin-bottom: 0;
    position: relative;
}

.search-field__input-long {
    min-width: 300px;
}

.search-field .tip {
    padding-top: 0;
}

.search-field .input,
.search-field .react-select__control {
    background: var(--main);
    font-size: 18px;
}

.search-field .react-select__control {
    min-width: 280px;
    border-radius: 10px;
    border: 2px solid var(--bright);
    padding-top: 2px;
    padding-bottom: 1px;
}
.field.error-select .react-select__control {
    border: 2px solid var(--error);
  outline-color: var(--error);
  box-shadow: 0px 0px 9px 2px var(--error);
}

.search-field .react-select__control:hover {
    border: 2px solid var(--bright);
}

.search-field .react-select__control--is-focused {
    box-shadow: 0px 0px 8px 1px var(--bright);
}

.search-field .react-select__input-container {
    color: var(--font-color);
}

.search-field .react-select__indicator,
.search-field .react-select__indicator-separator {
    display: none;
}

.search-field .react-select__menu {
    background: var(--main);
}

.search-field .react-select__option {
    color: var(--font-color);
}

.search-field .react-select__option--is-selected {
    background: inherit;
}

.search-field .react-select__single-value {
  color: var(--font-color);
}

.search-field .react-select__option--is-focused {
    background: var(--dark);
}

.search-field .field__name {
    margin-bottom: 5px;
    padding-left: 3px;
}

.search-field .tip {
    position: absolute;
    width: 100%;
    max-height: max-content;
    opacity: 1;
    top: 43px;
    left: 0;
    background: var(--main);
    border-radius: 10px;
    z-index: 1;
}

.search-field .button {
    min-width: 0;
    width: 120px;
}

.search-field__error {
    position: absolute;
    left: 3px;
    color: var(--error-bright);
    padding-top: 1px;
}

.search-field__img {
  background: transparent;
  border: none;
}
.search-field__imgL:hover {
  cursor: pointer;
}
