@import '../../styles/variables.scss';
.search-field {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 10px;
    background: $dark;
    border-radius: 20px;
    padding: 25px;

    .field {
        margin-bottom: 0;
        position: relative;
        flex: auto;
    }

    .tip {
        position: absolute;
        width: 100%;
        max-height: max-content;
        opacity: 1;
        top: 43px;
        left: 0;
        background: $main;
        border-radius: 10px;
        z-index: 1;
        padding-top: 0;
    }

    .button {
        min-width: 180px;
    }
}

.search_index {
    margin-top: 60px;
}

.search-field__input-long {
    min-width: 300px;
}

.search-field .input,
.search-field .react-select__control {
    background: $main;
    font-size: 18px;
}

.search-field .react-select__control {
    min-width: 320px;
    border-radius: 10px;
    border: 2px solid $bright;
    padding-top: 2px;
    padding-bottom: 1px;
}

.field.error-select .react-select__control {
    border: 2px solid $error;
    outline-color: $error;
    box-shadow: 0px 0px 9px 2px $error;
}

.search-field .react-select__control:hover {
    border: 2px solid $bright;
}

.search-field .react-select__control--is-focused {
    box-shadow: 0px 0px 8px 1px $bright;
}

.search-field .react-select__input-container {
    color: $font-color;
}

.search-field .react-select__indicator,
.search-field .react-select__indicator-separator {
    display: none;
}

.search-field .react-select__menu {
    background: $main;
}

.search-field .react-select__option {
    color: $font-color;
}

.search-field .react-select__option--is-selected {
    background: inherit;
}

.search-field .react-select__single-value {
    color: $font-color;
}

.search-field .react-select__option--is-focused {
    background: $dark;
}

.search-field .field__name {
    margin-bottom: 5px;
    padding-left: 3px;
}

.search-field__error {
    position: absolute;
    left: 3px;
    color: $error-bright;
    padding-top: 1px;
}

.search-field__img {
    background: transparent;
    border: none;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        transform: scale(0.9);
        transition: 0.3s
    }
}
