@import '../../styles/variables.scss';
.search-city-form {
  position: absolute;
  top: 30%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  flex-wrap: wrap;
  transform: translate(-50%, 0);
  background: $dark;
  border-radius: 15px;
  padding: 20px;
  width: 600px;
}

.search-city-form__title {
  font-size: 26px;
  flex: 100%;
  margin-bottom: 10px;
}

.search-city .react-select__control {
  min-width: 100%;
  border-radius: 10px;
  border: 2px solid $bright;
  padding-top: 2px;
  padding-bottom: 1px;
}

.search-city .css-b62m3t-container {
  width: 422px;
}

button.search-city-form__button {
  min-width: 0;
  padding: 0 25px;
}

.search-city .search-field__error {
  position: static;
}
