@import '../../styles/variables.scss';
@import '../Price/style.scss';
.ticket-header {
    width:100%;
    display: flex;
    align-items: center;
    background: $dark;
    background-size: cover;
    padding: 10px; 
    border-radius: 5px; 
  }
  
  
  .proizd-icon {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  