.transport-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: var(--semi-dark);
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px;
}

.transport-btn:last-child {
    margin-right: 0;
}

.transport-btn:hover {
    background-color: var(--bright);
    color: #000;
}

.transport-btn.active {
    background-color: var(--bright);
    color: #000;
}

.transportion {
    padding-right: 5px;
}
