@import '../../styles/variables.scss';

.transport-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: $semi-dark;
    color: $font-color;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px;
    width: 100px;
    height: 50px; 


    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: $bright;
    }

    &.active {
        background-color: $bright;
    }
    &.disabled {
        background-color: $grey;
    }
}
img {
    margin-right: 5px; 
}
.transportion {
    padding-right: 5px;
}
