.search-field {
    display: flex;
    align-items: end;
    gap: 10px;
    background: var(--dark);
    margin-top: 80px;
    border-radius: 20px;
    padding: 25px;
}

.search-field .field {
    margin-bottom: 0;
    position: relative;
}

.search-field__input-long {
    min-width: 300px;
}

.search-field .tip {
    padding-top: 0;
}

.search-field .input,
.search-field .react-select__control {
    background: var(--main);
    font-size: 18px;
}

.search-field .react-select__control {
    min-width: 280px;
    border-radius: 10px;
    border: 2px solid var(--bright);
    padding-top: 2px;
    padding-bottom: 1px;
}
.field.error-select .react-select__control {
    border: 2px solid var(--error);
  outline-color: var(--error);
  box-shadow: 0px 0px 9px 2px var(--error);
}

.search-field .react-select__control:hover {
    border: 2px solid var(--bright);
}

.search-field .react-select__control--is-focused {
    box-shadow: 0px 0px 8px 1px var(--bright);
}

.search-field .react-select__input-container {
    color: var(--font-color);
}

.search-field .react-select__indicator,
.search-field .react-select__indicator-separator {
    display: none;
}

.search-field .react-select__menu {
    background: var(--main);
}

.search-field .react-select__option {
    color: var(--font-color);
}

.search-field .react-select__option--is-selected {
    background: inherit;
}

/* .search-field .react-select__control--is-focused .react-select__single-value {
    color: var(--grey);
} */

.search-field .react-select__single-value {
  color: var(--font-color);
}

.search-field .react-select__option--is-focused {
    background: var(--dark);
}

.search-field .field__name {
    margin-bottom: 5px;
    padding-left: 3px;
}

.search-field .tip {
    position: absolute;
    width: 100%;
    max-height: max-content;
    opacity: 1;
    top: 43px;
    left: 0;
    background: var(--main);
    border-radius: 10px;
    z-index: 1;
}

.search-field .button {
    min-width: 0;
    width: 120px;
}

.search-field__error {
    position: absolute;
    left: 3px;
    color: var(--error-bright);
    padding-top: 1px;
}

.search-field__img {
  background: transparent;
  border: none;
}
.search-field__imgL:hover {
  cursor: pointer;
}

.dropdown__list,
.passangers__list {
    color: var(--font-color);
    list-style: none;
    /*develop*/
    display: none;
}

.dropDown__item:not(:last-child),
.passangers__item:not(:last-child) {
    border-bottom: 1px solid var(--dark);
}

.dropDown__item {
    padding: 8px 15px;
}

.dropDown__city {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.dropDown__country {
    font-size: 14px;
    color: var(--grey);
    font-weight: 400;
}

/*calendar*/

.calendar,
.calendar .react-datepicker__header {
    background: var(--main);
}

.calendar .react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    color: var(--font-color);
}

.calendar .react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
    color: var(--font-color);
}

.calendar .react-datepicker__day--outside-month,
.react-datepicker__day--disabled {
    color: var(--grey);
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
    background: var(--bright);
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    background: var(--dark);
}

.react-datepicker__day--today {
    color: var(--bright);
}

.react-datepicker__day--today:hover {
    color: var(--font-color);
}

/*passangers*/
.search-field__tip-long .tip {
    width: max-content;
}

.passangers__list.close {
    display: none;
}

.passangers__list.open {
    display: block;
}

.passangers__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.passangers__category {
    font-size: 18px;
    margin-right: 10px;
}

.passangers__form {
    display: flex;
}

.passangers__btn {
    background: var(--bright);
    border-radius: 50%;
    border: none;
    color: var(--font-color);
    width: 25px;
    height: 25px;
}

.passangers__input {
    max-width: 25px;
    font-size: 18px;
    background: transparent;
    border: none;
    margin: 0 1px;
    text-align: center;
    color: var(--font-color);
}

.passangers__input:focus-visible {
    outline: none;
}

/*main-filters*/
.main-filters {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.main-filters__btn {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    background: var(--semi-dark);
    color: inherit;
    border: none;
    border-radius: 10px;
    padding: 8px 38px 8px 28px;
}

.main-filters__btn::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 8px;
    right: 19px;
    width: 20px;
    height: 20px;
    background: url('../../public/img/arrow-more.svg');
}

.main-filters__btn.active {
    background: var(--bright);
}

.main-filters__btn.active.up::before {
    transform: rotate(180deg);
    right: 15px;
    top: 11px;
}

.main-filters__btn:not(:last-child) {
    margin-right: 15px;
}

/*tickets*/
.ticket {
    background: var(--semi-dark);
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 20px;
}

.ticket__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information {
    flex: auto;
    padding-right: 15px;
    border-right: 2px solid var(--dark);
}

.information__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information__row:not(:last-child) {
    margin-bottom: 20px;
}

.ticket__date {
    font-weight: 600;
    font-size: 20px;
}

.ticket__travel-time {
    display: flex;
    align-items: center;
    font-size: 18px;
    align-self: center;
}

.ticket__travel-time img {
    margin-right: 3px;
    width: 23px;
}

.ticket__city {
    font-size: 24px;
    font-weight: 700;
    min-width: max-content;
}

.ticket-last-element {
    flex: 0 0 260px;
    min-width: 0;
}

.ticket__line {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--bright);
    margin: 0 10px;
}

.ticket__station {
    font-size: 18px;
}

.price-options {
    flex: 0 0 286px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.price-options__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-options .button {
    min-width: 150px;
}

.ticket__price {
    margin-right: 20px;
}

.price__ordinry {
    font-size: 24px;
    font-weight: 800;
    color: #F77F00;
}

.price__discond {
    font-size: 18px;
    text-decoration: line-through;
}

.ticket__more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: transparent;
    border: none;
    color: var(--font-color);
    margin-top: 15px;
}
.ticket__more:hover {
  cursor: pointer;
  color: var(--bright);
}

.ticket-add-info {
  display: flex;
  max-height: 0;
  overflow-y: hidden;
  border-top: 2px solid transparent;
  transition: 0.3s;
}
.ticket-add-info.show {
  max-height: max-content;
  margin-top: 15px;
  padding-top: 10px;
  transition: 0.3s;
  border-top: 2px solid var(--dark);
}
.ticket-add-info__text {
  font-size: 18px;
}
.ticket-add-info__text:not(:last-child) {
  margin-right: 10px;
}

body{
    padding:0px;
    margin:0px;
    background-color:#f0f0f0;
    font-family:'Segoe UI';
  }
  
  .truck-wrapper{
    height: 200px;
    width: 350px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%) scale(0.8);
    animation:bg 0.5s linear infinite;
    overflow:hidden;
    z-index: 2;
  }
  
  .truck-wrapper:after{
    content:'';
    font-size:20px;
    position:absolute;
    bottom:0px;
    text-align:center;
    width:100%;
    border-top:1px solid #4CAF50;
  background: rgb(30,252,200);
  background: -moz-linear-gradient(left, rgba(30,252,200,1) 0%, rgba(29,211,214,1) 100%);
  background: -webkit-linear-gradient(left, rgba(30,252,200,1) 0%,rgba(29,211,214,1) 100%);
  background: linear-gradient(to right, var(--dark) 0%,var(--main) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1efcc8', endColorstr='#1dd3d6',GradientType=1 );
    color:white;
    padding-top:8px;
    padding-bottom:18px;
    animation: bg 3s linear infinite;
    border-radius: 10px;
  }
  
  .truck{
    height:110px;
    width:150px;
    position:absolute;
    
    bottom:27px;
    left: calc(50% + 10px);
    transform: translateX(-50%) scale(1.3);
    
  }
  
  .truck > .glases{
    background: rgb(40,181,245);
  background: -moz-linear-gradient(-45deg, rgba(40,181,245,1) 0%, rgba(40,181,245,1) 50%, rgba(2,153,227,1) 52%, rgba(2,153,227,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(40,181,245,1) 0%,rgba(40,181,245,1) 50%,rgba(2,153,227,1) 52%,rgba(2,153,227,1) 100%);
  background: linear-gradient(135deg, #514f4f 0%,#514f4f 50%,#333131 52%,#333131 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28b5f5', endColorstr='#0299e3',GradientType=1 );
    position:absolute;
    height:25px;
    width:152px;
    border:4px solid #FBD734;
    border-bottom:none;
    top:39.5px;
    left:-19px;
    border-top-right-radius:6px;
    animation: updown-half 0.4s linear infinite;
  }
  .truck > .glases:after{
    content:'';
    display:block;
    background-color:#FBD734;
    height:6px;
    width:3px;
    position:absolute;
    right:-6px;
    bottom:0px;
    border-radius:10px / 15px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
    
  }
  
  .truck > .glases:before{
    content:'';
    display:block;
    background-color:#FBD734;
    height:27px;
    width:3px;
    position:absolute;
    left:102px;
    bottom:-4px;
  /*   border-top-right-radius:4px; */
  }
  
  .truck > .bonet{
    background-color:#FBD734;
    position:absolute;
    width:153.8px;
    height:15px;
    top:64px;
    left:-19px;
    z-index:-1;
    animation: updown 0.4s linear infinite;
  }
  
  .truck > .bonet:after{
      content:'';
    display:block;
    background: rgb(255,255,255);
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );
    height:10px;
    width:6px;
    position:absolute;
    right:0px;
    bottom:2px;
    border-top-left-radius:4px;
    
  }
  
  .truck > .base{
    position:absolute;
    background-color:#445A64;
    width:134px;
    height:15px;
    border-top-right-radius:10px;
    top:70px;
    left:-15px;
    animation: updown 0.4s linear infinite;
  }
  
  .truck > .base:before{
     content:'';
    display:block;
    background-color:#E54A18;
    height:20px;
    width:5px;
    position:absolute;
    left:-4px;
    bottom:0px;
    border-bottom-left-radius:4px;
  }
  
  .truck > .base:after{
     content:'';
    display:block;
    background-color:#445A64;
    height:10px;
    width:20px;
    position:absolute;
    right:-16px;
    bottom:0px;
    border-bottom-right-radius:4px;
    z-index:-1;
  }
  
  .truck > .base-aux{
    width:3px;
    height:26px;
    background-color:#FBD734;
    position:absolute;
    top:43px;
    left:25px;
  /*   border-bottom-right-radius:4px; */
    animation: updown-half 0.4s linear infinite;
  }
  .truck > .wheel-back{
    left:20px
  }
  
  .truck > .wheel-front{
    left:95px;
  }
  
  .truck > .wheel-back,.truck > .wheel-front{
     
    border-radius:100%;
    position:absolute;
  background: rgb(84,110,122);
  background: -moz-linear-gradient(-45deg, rgba(84,110,122,1) 0%, rgba(84,110,122,1) 49%, rgba(68,90,100,1) 52%, rgba(68,90,100,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(84,110,122,1) 0%,rgba(84,110,122,1) 49%,rgba(68,90,100,1) 52%,rgba(68,90,100,1) 100%);
  background: linear-gradient(135deg, rgba(84,110,122,1) 0%,rgba(84,110,122,1) 49%,rgba(68,90,100,1) 52%,rgba(68,90,100,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#546e7a', endColorstr='#445a64',GradientType=1 );
    top:75px;
    height:22px;
    width:22px;
  animation:spin 0.6s linear infinite;
  }
  
  .truck > .wheel-back:before,.truck > .wheel-front:before{
    content:'';
    border-radius:100%;
      left:5px;
    top:5px;
    position:absolute;
      background: rgb(175,189,195);
  background: -moz-linear-gradient(-45deg, rgba(175,189,195,1) 0%, rgba(175,189,195,1) 50%, rgba(143,163,173,1) 51%, rgba(143,163,173,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(175,189,195,1) 0%,rgba(175,189,195,1) 50%,rgba(143,163,173,1) 51%,rgba(143,163,173,1) 100%);
  background: linear-gradient(135deg, rgba(175,189,195,1) 0%,rgba(175,189,195,1) 50%,rgba(143,163,173,1) 51%,rgba(143,163,173,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afbdc3', endColorstr='#8fa3ad',GradientType=1 );
    height:12px;
    width:12px; 
  }
  
  @keyframes spin {
    50%{
      top:76px;
    }
      100% {
          transform: rotate(360deg);
      }
  }
  
  @keyframes container {
    
    30%{
      transform:rotate(1deg);
    }
    50%{
      top:11px;
    }
    
    70%{
      top:10px;
      transform:rotate(-1deg);
    }
  }
  
  .truck > .smoke{
    position:absolute;
    background-color:#AFBDC3;
    border-radius:100%;
    width:8px;
    height:8px;
    top:90px;
    left:6px;
    animation: fade 0.4s linear infinite;
    opacity:0;
  }
  
  .truck > .smoke:after{
    content:'';
    position:absolute;
    background-color:RGB(143,163,173);
    border-radius:100%;
    width:6px;
    height:6px;
    top:-4px;
    left:4px;
  }
  
  .truck > .smoke:before{
    content:'';
    position:absolute;
    background-color:RGB(143,163,173);
    border-radius:100%;
    width:4px;
    height:4px;
    top:-2px;
    left:0px;
  }
  
  @keyframes fade {
    
    30%{
      opacity:0.3;
      left:7px;
    }
    50%{
      opacity:0.5;
      left:6px;
    }
    
    70%{
     opacity:0.1;
      left:4px;
    }
    
    90%{
      opacity:0.4;
      left:2px;
    }
  }
  
  @keyframes bg {
    from{
      background-position-x:0px;
    }
    to{
      background-position-x:-700px;
    }
  }
  
  @keyframes updown {
    50%{
      transform:translateY(-20%);
    }
    
    70%{
      transform:translateY(-10%);
    }
  }
  
  @keyframes updown-half{
      50%{
      transform:translateY(-10%);
    }
    
    70%{
      transform:translateY(-5%);
    }
  }
  
  .main-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: #000;
  }
  .main-error__img {
    width: 100px;
  }

  .main-error__title {
    /*color: var(--error-bright);*/
  }

  .main-error__text {
    margin-top: 10px;
  }
