.tickets {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.tickets__more {
    max-height: 40px;
    overflow-y: hidden;
}

.tickets__loading-img {
    max-height: 66px;
    position: relative;
    transform: translate(14px, -23px);
}
