@import '../../styles/variables.scss';

.information-block {
  background-color: $dark;
  padding: 20px;
  margin: 20px;
  width: 100%;
  text-align: left;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 73%;
  }

  .time-text {
    font-size: 20px;
  
    &.small {
      font-size: 15px;
    }
  }

  .location-text.small {
    margin: 5px 0;
    font-size: 15px;
  }
  
  .location-text {
    font-size: 20px;
  }
  
  .vertical-line {
    height: 70%;
    width: 2px;
    background-color: $bright;
    margin-right: 20px;
    margin-left: 20px;
  }

  .city-above{
    margin-bottom: 40px;
  }
}
