/*main-filters*/
.main-filters {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.main-filters__btn {
    width: 205px;
    height: 39px;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    background: var(--semi-dark);
    color: inherit;
    border: none;
    border-radius: 10px;
    padding: 8px 38px 8px 28px;
    transition: 0.3s;
}

.main-filters__btn::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 8px;
    right: 19px;
    width: 20px;
    height: 20px;
    background: url('./arrow-more.svg');
}

.main-filters__btn.active {
    background: var(--bright);
}

.main-filters__btn.active.up::before {
    transform: rotate(180deg);
    right: 15px;
    top: 11px;
}

.main-filters__btn:not(:last-child) {
    margin-right: 15px;
}

.main-filters__img {
    width: 25px;
    height: 25px;
}
