@import '../../styles/variables.scss';
.search-field__tip-long .tip {
    width: max-content;
}

.passengers__list {
    &.close {
        display: none;
    }

    &.open {
        display: block;
    }
}

.passengers__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    &:not(:last-child) {
        border-bottom: 1px solid $dark;
    }
}

.passengers__category {
    font-size: 18px;
    margin-right: 10px;
    color: $font-color;
}

.passengers__form {
    display: flex;
}

.passengers__btn {
    background: $bright;
    border-radius: 50%;
    border: none;
    color: $font-color;
    width: 25px;
    height: 25px;
}

.passengers__input {
    max-width: 25px;
    font-size: 18px;
    background: transparent;
    border: none;
    margin: 0 1px;
    text-align: center;
    color: $font-color;

    &:focus-visible {
        outline: none;
    }
}
