/*passangers*/
.search-field__tip-long .tip {
    width: max-content;
}

.passangers__list.close {
    display: none;
}

.passangers__list.open {
    display: block;
}

.passangers__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.passangers__item:not(:last-child) {
    border-bottom: 1px solid var(--dark);
}

.passangers__category {
    font-size: 18px;
    margin-right: 10px;
    color: var(--font-color);
}

.passangers__form {
    display: flex;
}

.passangers__btn {
    background: var(--bright);
    border-radius: 50%;
    border: none;
    color: var(--font-color);
    width: 25px;
    height: 25px;
}

.passangers__input {
    max-width: 25px;
    font-size: 18px;
    background: transparent;
    border: none;
    margin: 0 1px;
    text-align: center;
    color: var(--font-color);
}

.passangers__input:focus-visible {
    outline: none;
}
