@import '../styles/colorsVar.scss';
.message {
    z-index: 5;
}

.message__content {
    display: flex;
    flex-direction: column;
    background: $semi-dark;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
}

.message__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $dark;
}

.message__close {
    position: relative;
    top: 0;
    right: 0;
}

.message__text {
    font-size: 18px;
    line-height: 1.5;
}

.message__button {
    margin-top: 20px;
    align-self: center;
}
