@import '../styles/colorsVar.scss';
.scroll-container {
  position: relative;
}

.scroll {
  position: fixed;
  bottom: 200px;
  right: 20px;
  background-color: $semi-dark;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow-up {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.scroll-text {
  margin-top: 3px;
}

.scroll span {
  position: relative;
  top: 3px;
}
