* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

header{
    background-color: grey;
}

.logo{
    text-align: center;
} 

.logo_text{
    text-align: center;
}

.welcome-message {
    padding-top: 70px;
    text-align: center;
}

.blue-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.blue-button:hover {
    background-color: darkblue;
}

