.banner-container {
    margin-top: 15px;
    background-color: var(--dark);
    padding: 15px 20px;
    border-radius: 10px;
}

.centered-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text {
    font-size: 18px;
}

button.banner__btn {
    min-width: 0;
}
