@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import './styles/colorsVar.scss';
@import './styles/mediaQueryVar.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

// @media (max-width: 1200px) {
//   html {
//     overflow-x: auto;
//   }
// }

body {
  font-family: 'Roboto';
  color: $font-color;
  background: url('./Frame 4.1.jpg');
  overflow-y: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main{
  flex:100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.field__name {
  display: inline-block;
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 500;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $font-color;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.field {
  margin-bottom: 15px;
  position: relative;

  @media (max-width: $mobile) {
    margin-bottom: 10px;
  }

  &__name {
    display: inline-block;
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 500;

    @media (max-width: $mobile) {
      font-size: 16px;
    }
  }
}

.input {
  width: 100%;
  border-radius: 10px;
  border: 2px solid $bright;
  padding: 8px;
  font-size: 18px;
  background: $dark;
  color: inherit;
  z-index: 1;

  @media (max-width: $mobile) {
    padding: 5px;
    font-size: 16px;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 8px 1px $bright;
  }

  &::placeholder {
    color: $grey;
  }

  &.input_error {
    border: 2px solid $error;
    outline-color: $error;
    box-shadow: 0px 0px 9px 2px $error;
  }

  &__toggle-value-visibility {
    z-index: 2;
    position: absolute;
    top: 36px;
    right: 4px;
    background: transparent;
    border: none;
    padding: 3px 3px 0 3px;

    @media (max-width: $mobile) {
      top: 28px;
    }

    &.hide::before {
      position: absolute;
      top: 13px;
      left: 5px;
      display: inline-block;
      content: '';
      width: 21px;
      height: 2px;
      background: $font-color;
      transform: rotate(45deg);
    }
  }
}

.input-error {
  color: $error-bright;
  max-width: 100%;
  font-weight: 500;
  padding-top: 4px;

  @media (max-width: $mobile) {
    font-size: 14px;
  }
}

.block-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @media (max-width: $tablet) {
    flex-direction: column;
    align-items: baseline;
  }

  &__body {
    position: relative;
    background: $semi-dark;
    border-radius: 20px;
    padding: 35px;
    width: 450px;
    margin: 20px 0;

    @media (max-width: $tablet) {
      width: 100%;
      min-height: fill;
      border-radius: 0;
      margin: 0;
      border-top: 2px solid $dark;
      padding: 15% 10% 35px 10%;
      flex: 100%;
    }

    @media (max-width: $mobile) {
      padding: 10% 35px 35px 15px;
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;

    @media (max-width: $mobile) {
      font-size: 20px;
    }
  }
}

.button {
  background: $bright;
  color: $font-color;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid $bright;
  padding: 8px 20px;
  transition: 0.3s;

  @media (max-width: $mobile) {
    font-size: 16px;
    padding: 5px 15px;
  }

  &.button_long {
    width: 100%;
  }

  &:hover {
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 8px 1px $bright;
    transform: translateY(-3px);
  }

  &:active {
    transform: scale(0.9);
    transition: 0.3s;
  }

  &:disabled {
    background: $grey;
    cursor: initial;
    color: $font-color;
    border: 1px solid $grey;
  }

  &:disabled:hover {
    box-shadow: none;
    transform: none;
  }
}

.error {
  width: 100%;
  background: $error;
  padding: 10px;
  color: inherit;
  border-radius: 5px;
  margin: 8px 0;
}

.checkbox {
  margin-bottom: 10px;

  &__label {
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    padding-left: 30px;

    @media (max-width: $mobile) {
      font-size: 16px;
    }

    a {
      margin-left: 5px;
    }

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border: 2px solid $bright;
    }
  }

  &__input {
    position: absolute;
    visibility: hidden;

    &:checked~.checkbox__label::before {
      left: 0px;
      top: -4px;
      position: absolute;
      content: '';
      display: block;
      width: 15px;
      height: 20px;
      background: url('./utils/img/tick.svg');
    }

    &.checkbox_error~.checkbox__label::after {
      border: 2px solid $error-bright;
    }

    &.checkbox_error~.checkbox__label {
      color: $error-bright;
    }
  }

  &__error {
    margin-top: 3px;
    padding-left: 30px;
  }
}

.confirm__success {
  min-width: 300px;
  background: $success;
  padding: 10px;
  color: $font-color;
  border-radius: 5px;
  margin: 8px 0;
}

.link-success {
  font-size: 18px;
}

.form-body {
  background: $semi-dark;
  border-radius: 20px;
  padding: 35px;
  min-width: 450px;
  max-width: 30%;
  height: fit-content;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

body #bmc-wbtn {
  left: 20px;
  width: 50px !important;
  height: 50px !important;
  position: fixed !important;
  bottom: 35px !important;
}

body > div:nth-of-type(2) {
  position: fixed !important;
}

body #bmc-iframe {
  position: fixed !important;
  left: 45px;
  bottom: 85px !important;
  transform-origin: left bottom !important;
  height: 400px !important;
  min-height: 0 !important;
}

.search-field .input,
.search-field .react-select__control,
.search-city .react-select__control {
    background: $main;
    font-size: 18px;
}

.search-field .react-select__control {
    min-width: 320px;
    border-radius: 10px;
    border: 2px solid $bright;
    padding-top: 2px;
    padding-bottom: 1px;
}

.field.error-select .react-select__control {
    border: 2px solid $error;
    outline-color: $error;
    box-shadow: 0px 0px 9px 2px $error;
}

.search-field .react-select__control:hover,
.search-city .react-select__control:hover {
    border: 2px solid $bright;
}

.search-field .react-select__control--is-focused,
.search-city .react-select__control--is-focused {
    box-shadow: 0px 0px 8px 1px $bright;
}

.search-field .react-select__input-container,
.search-city .react-select__input-container {
    color: $font-color;
}

.search-field .react-select__indicator,
.search-field .react-select__indicator-separator,
.search-city .react-select__indicator,
.search-city .react-select__indicator-separator {
    display: none;
}

.search-field .react-select__menu,
.search-city .react-select__menu {
    background: $main;
}

.search-field .react-select__option,
.search-city .react-select__option {
    color: $font-color;
}

.search-field .react-select__option--is-selected,
.search-city .react-select__option--is-selected {
    background: inherit;
}

.search-field .react-select__single-value,
.search-city .react-select__single-value {
    color: $font-color;
}

.search-field .react-select__option--is-focused,
.search-city .react-select__option--is-focused {
    background: $dark;
}