.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(20 20 20 / 70%);
}

.popup__body {
  position: relative;
  background: var(--semi-dark);
  padding: 50px 25px 25px 25px;
  border-radius: 10px;
  z-index: 4;
  min-width: 280px;
}

.link {
  margin: 15px 0;
  color: var(--font-color);
}

.link:hover {
  cursor: pointer;
}

.link-register {
  text-align: center;
  margin-bottom: 0;
}

.close {
  position: absolute;
  top: 25px;
  right: 21px;
  background: transparent;
  border: 0;
  width: 30px;
  height: 30px;
}

.close:hover {
  cursor: pointer;
}

.close::after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 30px;
  height: 3px;
  transform: rotate(45deg);
  background: var(--font-color);
}

.close::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 30px;
  height: 3px;
  transform: rotate(-45deg);
  background: var(--font-color);
}

.login__another {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.login-another__line {
  width: 100%;
  background: var(--grey);
  height: 1px;
}

.login-another__content {
  margin: 0px 5px;
  color: var(--grey);
}

.login__google {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  font-weight: 600;
  width: 100%;
  background: #fff;
  color: var(--main);
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  border: none;
  margin-top: 15px;
}

.login__google:hover {
  cursor: pointer;
}

.login__google:not(:last-child) {
  margin-bottom: 15px;
}

.login__google img {
  max-width: 25px;
  margin-right: 8px;
}
