.main-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: #000;
  }
  .main-error__img {
    width: 100px;
  }

  .main-error__text {
    margin-top: 10px;
  }