@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(./styles/variables.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
}
body {
   font-family: 'Roboto';
   color: var(--font-color);
   background: url('../public/img/Frame 4.jpg');
   min-width: 800px;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
.field__name {
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 500;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type='number'] {
  -moz-appearance: textfield;
}
.field {
  margin-bottom: 15px;
}
.input {
  position: relative;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--bright);
  padding: 8px;
  font-size: 18px;
  background: var(--dark);
  color: inherit;
  z-index: 1;
}
.input:focus {
  outline: none;
  box-shadow: 0px 0px 8px 1px var(--bright);
}
.input::placeholder {
  color: var(--grey);
}
.input.input-error {
  border: 2px solid var(--error);
  outline-color: var(--error);
  box-shadow: 0px 0px 8px 1px var(--error);
}
.input-wrapper {
  width: 100%;
  position: relative;
}
.show-password {
  z-index: 2;
  position: absolute;
  top: 5px;
  right: 4px;
  background: transparent;
  border: none;
  padding: 3px 3px 0 3px;
}
.show-password.hide::before {
  position: absolute;
  top: 13px;
  left: 5px;
  display: inline-block;
  content: '';
  width: 21px;
  height: 2px;
  background: var(--font-color);
  transform: rotate(45deg);
}
.tip {
  position: relative;
  max-height: 0;
  opacity: 0;
  padding-top: 5px;
  max-width: 350px;
  color: var(--bright);
  font-weight: 500;
  transition: 0.8s;
  z-index: 0;
}
.input:focus ~ .tip {
  max-height: 200px;
  opacity: 1;
  transition: 0.8s;
}
.button {
  background: var(--bright);
  color: var(--font-color);
  font-weight: 700;
  font-size: 18px;
  min-width: 226px;
  border-radius: 10px;
  border: 2px solid var(--bright);
  padding: 8px 20px;
  transition: 0.3s;
}
.btn-full {
  width: 100%;
}
.button:hover {
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0px 0px 8px 1px var(--bright);
  transform: translateY(-3px);
}

.error {
  min-width: 300px;
  background: var(--error);
  padding: 10px;
  color: inherit;
  border-radius: 5px;
  margin: 8px 0;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.checkbox {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 10px;
}
.checkbox a {
  margin-left: 5px;
}
.checkbox::after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--bright);
}
.checkbox__field {
  position: absolute;
  visibility:hidden;
}
.checkbox__field:checked ~ .checkbox::before {
  left: 0px;
  top: -3px;
  position: absolute;
  content: '';
  display: block;
  width: 15px;
  height: 20px;
  background: url('../public/img/tick.svg');
}
.checkbox__field.checkbox-error ~ .checkbox::after {
  border: 1px solid rgb(180, 8, 8);
}
.checkbox__field.checkbox-error ~ .checkbox {
  color: rgb(180, 8, 8);
}

.confirm__success {
  min-width: 300px;
  background: var(--semi-bright);
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  margin: 8px 0;
}
/* For future usage
 .main-block {
  height: calc(100vh - 60px);
} */

.link-success {
  font-size: 18px;
}
.button:disabled {
  background: grey;
  cursor: initial;
  color: #fff;
}
.form-body {
  background: var(--semi-dark);
  border-radius: 20px;
  padding: 35px;
  min-width: 450px;
  max-width: 30%;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}